{% extends 'dashboard.html'%} {% load static %} {% load crispy_forms_tags %}{% block content %}
<div class="container mt-3  fontI colortext">
  <div class="row pb-5 ">
    <div class="col-md-8  offset-md-2 pb-5">
      <div class="card no-gutters">
        <h1 class="text-center titlegeneral colortitle pt-3 fontI">Habilitación de Documento Final para el Postulante</h1>
        <div class="card-body font px-5 pt-5 ">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success me-2 " type="submit">Confirmar Activacion</button>
                <a class="btn btn-danger " href="{% url 'dashboard' %}">Cancelar</a>
            </form>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
{% endblock %}