@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.fontII{
    font-family: "Lora";
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 50;
    font-style: normal;
}

.card-text{
    font-weight: 100;
    font-size: 18px;
    color: #0a4049;
    font-family:"Anton";
    font-style: normal;
    margin-bottom: 13px;
}

.title{
    font-weight: 100;
    font-size: 40px;
    color: #02091d;
    font-family:"Anton";
    font-style: normal;
    margin-bottom: 13px;
}

.contenedorbody{
    background: #f0f0f0;
    padding-left:20px;
    padding-right: 20px;
}
.rounded-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0a4049;
  }
.stilo{
    font-family: "Anton";
    color: #0a4049;
    border-radius: 10px;
    background: #f0f0f0;
    box-shadow:  9px 9px 9px #a6a6a6,
             -9px -9px 9px #ffffff;
}
.stilooo{
    font-family: "Anton";
    color: #0a4049;
    border-radius: 15px;
    background: #f5f4f4;
    box-shadow:  9px 9px 9px #a6a6a6,
             -9px -9px 9px #ffffff;
}
.stiloo{
    border-radius: 15px;
    background: #eeeded;
    color: #4e55572f;
    box-shadow: inset 12px 12px 24px #bebebe,
            inset -12px -12px 24px #ffffff;
}

.contproyectos{
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;

}

.parrafos {
    width: 300px; 
    overflow: hidden; 
}
  
.textto {
    color: #324c50;
    word-wrap: break-word; 
    white-space: normal; 
}
.textdate{
    color: #ac4616;
    font-family: "Anton";

}
.textmension{
    font-size: 25px;
    color: #0d4164;
    font-family: "Anton";

}

.user-img {
    width: 300px;
    height: 150px;
    border-radius:12px;
    background:rgb(255, 255, 255);
}

#imgsocial{
    height: 400px;
    width:550px ;
    border-radius: 25px;
}
#imgmujersocial{
    height: 530px;
    border-radius: 8px;
    opacity: 70%;
}
#imgdocente{
    height:70px;
    border-radius: 100%;
    width:70px;
    padding: 2px;
    filter: drop-shadow(rgb(1, 29, 37));
    background: #4b2309;
    box-shadow:  9px 9px 9px #a6a6a6,
             -9px -9px 9px #ffffff;
}

.btnn{
    font-family: "Anton";
    text-decoration: none;
    width: 170px;
    color: #ac4616;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    background: #f0f0f0;
    box-shadow:  9px 9px 9px #a6a6a6,
             -9px -9px 9px #ffffff;

}
.btnn:hover{
    color: #ac4616;
    background: #eeeded;
    box-shadow: inset 12px 12px 24px #bebebe,
            inset -12px -12px 24px #ffffff;

}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }
  
  .table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
  }
  
  .table tr {
    background-color: #e4e9eb;
    border: 1px solid #b3c3d1;
  }
  
  .table th,
  .table td {
    font-size: 13px;
    padding: 8px;
    text-align: center;
  }
  
  .table thead th {
    text-transform: uppercase;
    background-color: #031a22;
    color: #eef3f1;
  }
  
  .table tbody td:hover {
    background-color: rgba(9, 58, 97, 0.151);
  }
  
  @media screen and (max-width: 600px) {
    .table {
      border: 0px;
    }
    .table caption {
      font-size: 22px;
    }
    .table thead {
      display: none;
    }
    .table tr {
      margin-bottom: 8px;
      border-bottom: 4px solid #ddd;
      display: block;
    }
    .table th,
    .table td {
      font-size: 17px;
    }
    .table td {
      display: block;
      border-bottom: 1px solid #ddd;
      text-align: right;
    }
    .table td:last-child {
      border-bottom: 0px;
    }
    .table td::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      float: left;
    }
    .btn {
      font-size: 12px; /* Tamaño de fuente más pequeño */
      padding: 5px 10px; /* Espaciado interno más pequeño */
    }
    .btn svg {
      width: 16px; /* Ajustar tamaño del icono */
      height: 16px; /* Ajustar tamaño del icono */
    }
  }
  