{% extends 'dashboard.html' %}

{% block content %}
  <h2>Lista de Proyectos Finales</h2>
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Resumen</th>
        <th>Modalidad</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for final in finals %}
        <tr>
          <td>{{ final.titulo }}</td>
          <td>{{ final.resumen }}</td>
          <td>{{ final.modalidad }}</td>
          <td>{{ final.fecha }}</td>
          <td>{{ final.estado }}</td>
          <td>
            <a href="{% url 'control_final' final.id %}">Controlar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

