{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% block title %}Crear Form{% endblock %}
{% load static %}
{% block content %}

<div class="container px-lg-5 font pb-5">
    <div class="no-gutters container px-lg-5 px-2">
        <h1 class="titlesuperior colortitle text-center pb-5 pt-4">AGREGAR PROYECTO FINAL</h1>
        <article class="pb-5 colortext">
            {% if actividad and actividad.habilitada %}
            <form method="post" enctype="multipart/form-data" id="perfilForm" onsubmit="enableFieldsAndSubmit(event)">
                {% csrf_token %}
                <div class="row pb-2">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="{{ form.estudiante.id_for_label }}" class="form-label colorestados">Postulante Habilitado:</label>
                            {{ form.estudiante }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="{{ form.tutor.id_for_label }}" class="colorestados form-label">Tutor Asignado:</label>
                            {{ form.tutor }}
                        </div>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="{{ form.jurado_1.id_for_label }}" class="colorestados form-label">Primer Tribunal Asignado:</label>
                            {{ form.jurado_1 }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="{{ form.jurado_2.id_for_label }}" class="colorestados form-label">Segundo Tribunal Asignado:</label>
                            {{ form.jurado_2 }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="{{ form.jurado_3.id_for_label }}" class="colorestados form-label">Tercer Tribunal Asignado:</label>
                            {{ form.jurado_3 }}
                        </div>
                    </div>
                </div>
                <div class="mb-3 pb-2">
                    <label for="{{ form.titulo.id_for_label }}" class="colorestados form-label">Titulo de Proyecto:</label>
                    {{ form.titulo }}
                </div>
                <div class="mb-3 pb-2">
                    <label for="{{ form.resumen.id_for_label }}" class="colorestados form-label">Descripción Breve Del Proyecto:</label>
                    {{ form.resumen }}
                </div>
                <div class="row pb-2">
                    <div class="col-md-6">
                        <div class="mb-3">
                          <label for="{{ form.modalidad.id_for_label }}" class="colorestados form-label">Modalidad Aporbada en Perfil:</label>
                          {{ form.modalidad }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="{{ form.guia_externo.id_for_label }}" class="colorestados form-label">Tutor Externo "Opcional":</label>
                            {{ form.guia_externo }}
                        </div>
                    </div>
                </div>
                <div class="mb-3 pb-4">
                    <label for="{{ form.documentacion.id_for_label }}" class="colorestados form-label">Agregar Documento a Evaluar:</label><br>
                    {{ form.documentacion }}
                </div>
                <button class="btn btn-success fontII" type="submit">Confirmar Envio</button>
                <a class="btn btn-danger fontII" href="{% url 'dashboard' %}">Cancelar</a>
            </form>
            <br>
            {% elif actividad %}
            <p class="text colorestados">Este usuario no está habilitado para llenar la actividad.</p>
            {% else %}
            <p class="text colorestados">Aún no se ha habilitado un formulario de Proyecto Final para este Usuario.</p>
            {% endif %}
        </article>
    </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-mdal">
            <div class="modal-header">
                <h5 class="modal-title font" id="confirmationModalLabel">Confirmación de Formulario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center font">
                <img src="{% static 'img/close.png' %}" class="img-close" alt="" /><br>
                ¡Formulario Enviado con Éxito!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fontII" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts necesarios para Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>


<script>
    // Función para mostrar modal de confirmación y enviar el formulario
    function enableFieldsAndSubmit(event) {
        event.preventDefault();

        // Habilitar temporalmente los campos deshabilitados
        document.querySelectorAll('#id_estudiante, #id_tutor, #id_jurado_1, #id_jurado_2, #id_jurado_3, #id_modalidad').forEach(field => {
            field.disabled = false;
        });

        // Mostrar el modal de confirmación
        var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        confirmationModal.show();
        
        // Enviar el formulario después de un retraso
        setTimeout(function() {
            document.getElementById("perfilForm").submit();
        }, 2000);
    }
</script>

{% endblock %}
